/* Break-point @ 1000px */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Questrial&family=Raleway:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
   overflow: auto; 
}

.main-container {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.aside {
  background-color: black;
  width: 7%;
  max-width: 150px;
  min-width: 80px;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  color: white;
}
.black-box {
  background-color: black;
  width: 350px;
  height: 100%;
}

.content-container {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 100%;
}

.aside > a > li {
  list-style: none;
}

.aside > a > li > img {
  filter: grayscale(1) invert(1);
  position: relative;
  height: 25px;
  width: 25px;
}

.profile-box {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  top: 27%;
  right: -10vw;
}

.img-box {
  background-image: url(resources/profile.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: -60px;

  position: relative;
  background-color: gray;
  width: 300px;
  height: 300px;
  top: -15px;
  left: 15px;
}

.description {
  position: relative;
   width: 40vw; 
  top: 26vh;
  left: 12vw;
}

.line {
  background-color: rgb(49, 48, 48);
  height: 100px;
  width: 3px;
}
.text {
  padding-top: 18px;
  width: 40vw;
  padding-left: 16px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: rgb(42, 40, 40);
  font-size: 17px;
}

.text > h2 {
  
  padding-left: 3px;
  font-size: 18px;
  color: rgb(42, 40, 40);
}

button {
  position: relative;
  top: 35vh;
  left: 12.5vw;
width: 160px;
height: 44px;
 font-family: "Montserrat" ,sans-serif;
 text-transform: uppercase;
 border: solid black 2px;
 margin: 0px 20px;
 background-color: white;
 cursor: pointer;



}

button:hover{
  color: white;
  background-color: rgb(24, 23, 23);
}

.learn{
  background-color: black;
  position: absolute;
  width: 60px;
  height: 60px;
  color: white;
  text-align: center;
  top:15px;
  right: 15px;
  font-family:"Montserrat" ,sans-serif;
  text-transform: capitalize;
  line-height: 60px;
  

}


.social{
  position: relative;
top:67vh;
left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  height: 40px;
  width: 200px;
  
}



.social>a>li{
  list-style: none;
} 


.social>a>li>img{
  height: 20px;
  width: 20px;


}


.ham-menu ,.headname {
  display: none;
}

.nav{

  display: none;
  background-color: black;
  max-width: 150px;
  min-width: 80px;
  height: 100%;
}





@media (max-width:980px){
  .description{
    left: 16vw;

  }
  button {
    margin:0 10px;
    width: 130px ;
  }
 


}

@media (max-width:800px){
  .main-container{
   
 
    display: flex;
    flex-direction: column;
gap:10;

  }
 

  .aside{
  
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40px;
    background-color: black;
    min-height: 50px;
    max-height: 60px;
 
    min-width: 100%;
    
  }


  .black-box{
   
    width: 100%;
    background-color: white;
  }
.nav{  
  
  padding-left: 40px;
  background-color: black;
  min-height: 50px;
  max-height: 60px;

  min-width: 100%;
  
}
  .learn{
    background-color: none;
    position: absolute;
    top: 0px;
  }

  .content-container{
    
    width: 100%;
    
  }
   
  .profile-box{
     position: relative;
 top:30px;
 left: 30px;
 height: 300px;
 width: 300px;
 
 /* width: 91.5%;
 height: 50vh; */ 
background-color: rgb(255, 255, 255);
  }

  .img-box{
 height: 300px;
 width: 300px;
  background-size: cover;
   

  }

  .description{
    position: absolute;
    top: 160px;
  left: 55vw;
  
  }
 .line{ 
  height: 150px;
 }
 

 button{
 position: relative;
  top:-20px;
left: 300px;
 }
 .social{
  position: absolute;
  top: 400px;
  left: 50px;

 }
  
h1{
  max-width: 350px;
}

  }


  @media (max-width:700px){

    .description{
      
      left: 60vw;
    }

   
  }
  
  /* Mobile view */
 

  @media (max-width:600px){
   .line{
  height: 0px;
  
   }

   .black-box{
    width: 90vw;
    height: 80vw;
   }

.profile-box{

  width: 90vw;
  height: 80vw;
}

.img-box{
  position: absolute;
  height:80vw ;
  width: 88vw;
  top: -20px;
  left: 0px;
  background-position: center;
}

.description{
  position: relative;
  top: -45px;
  left: 0px;
  margin-left: 20px;

}

button{
  width: 160px;
  position:relative;
  top:14vh;
  left: 5%;
  margin-bottom: 20px;

}
.content-container{
height:800px;
}

.social{
  position: relative;
top: 12vh;
left:4vw;
padding-bottom: 10px;
padding-top:10px !important;
}

h1{
  width: 350px;
}

h2{
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.aside{
  gap: 35px;
}

  }

  @media (max-width:450px){
.aside{
  display: none;
}


.learn{
  display: none;
}
.nav{
  display: flex;
  background-color: black;
}
 
.ham-menu ,.headname {
  display:contents;
}

.ham-menu{
  position:absolute;
  top: 17px;
  right: 12px;
 
  width: 30px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content:space-around ;
  align-items: center;
}
.bar{
  
 border-radius: 2px;
 height: 4px;
background-color: rgb(255, 255, 255);
width: 25px;

}

.headname>h3{

  position:absolute;
  
  color: white;
padding: 15px 12px;
  font-size : 20px;
  font-family:"Montserrat" ,sans-serif;

}

  }


  @media (max-width:400px){
    h1{
      width: 100px;
    }

    .headname{
      display: contents;
    }
  
    .social{
      top: 142px;
    }
   
    button{
      top: 160px;
    }


  }